* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 45px;
  margin: 20px;
}

.cuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
}

.cuadros .cuadroUno {
  position: relative;
  background-color: #edece5;
  width: 70%;
  height: 40vh;
}

.cuadros .cuadroUno h2 {
  position: absolute;
  top: 10rem;
  left: -5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cuadros .cuadroUno .button {
  position: relative;
  cursor: pointer;
  border: tomato solid 3px;
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.cuadros .cuadroUno .button img {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.cuadros .cuadroUno .button:hover {
  border: blue solid 3px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cuadros .cuadroUno .imagenes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10%;
  left: 3%;
  gap: 70px;
}

.cuadros .cuadroDos {
  position: relative;
  background-color: #ffe8c0;
  width: 70%;
  height: 40vh;
}

.cuadros .cuadroDos h2 {
  position: absolute;
  top: 10.5rem;
  left: -4rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.cuadros .cuadroDos .button {
  position: relative;
  cursor: pointer;
  border: tomato solid 3px;
  background-color: white;
  width: 270px;
  height: 270px;
  border-radius: 20px;
}

.cuadros .cuadroDos .button img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 10%;
  top: 10%;
}

.cuadros .cuadroDos .button:hover {
  border: blue solid 3px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cuadros .cuadroDos .imagenesDos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10%;
  left: 5%;
  gap: 50px;
}

.barra {
  position: fixed;
  width: 4vw;
  height: 100vh;
  left: 0;
  top: 0px;
  background: #ff9900;
}

.pantallaInfoUno {
  position: absolute;
  margin: 500px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  height: 60vh;
  
  background-color: white;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 36.5016px 29.2013px rgba(0, 0, 0, 0.0482987), 0px 17.7209px 14.1767px rgba(0, 0, 0, 0.0389404), 0px 8.6871px 6.94968px rgba(0, 0, 0, 0.0310596), 0px 3.43489px 2.74791px rgba(0, 0, 0, 0.0217013);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 36.5016px 29.2013px rgba(0, 0, 0, 0.0482987), 0px 17.7209px 14.1767px rgba(0, 0, 0, 0.0389404), 0px 8.6871px 6.94968px rgba(0, 0, 0, 0.0310596), 0px 3.43489px 2.74791px rgba(0, 0, 0, 0.0217013);

  z-index: 5;
}

.circuloImagen{
  display: flex;

}

.pantallaInfoUno .circuloImagen {
  position: absolute;
  top: 12%;
  left: 4%;
  width: 40%;
  height: 80%;
  border-radius: 500px;
}



.pantallaInfoUno .close {
  position: absolute;
  width: 20px;
  top: 5%;
  left: 95%;
}

/* .pantallaInfoUno p {
  position: absolute;
  left: 50%;
  width: 300px;
}

.pantallaInfoUno h2 {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 400px;
} */

@media screen and (max-width: 1440px) {
  .cuadros {
    margin-top: 5%;
    margin-left: 2%;
  }
  .cuadros .cuadroUno {
    width: 80%;
  }
  .cuadros .cuadroUno h2 {
    top: 45%;
  }
  .cuadros .cuadroUno .imagenes {
    top: 20%;
  }
  .cuadros .cuadroDos {
    width: 80%;
  }
  .cuadros .cuadroDos h2 {
    top: 45%;
  }
  .cuadros .cuadroDos .imagenesDos {
    top: 20%;
    left: 2%;
  }
  .pantallaInfoUno {
    width: 65vw;
    height: 50vh;
  }
}

@media screen and (max-width: 1024px) {
  .cuadros .cuadroDos .button img {
    width: 150px;
  }
  .cuadros .cuadroDos .imagenesDos {
    left: 10%;
    width: 700px;
  }
  .pantallaInfoUno {
    width: 80vw;
    height: 50vh;
  }
}

@media screen and (max-width: 768px) {
  .cuadros .cuadroUno h2 {
    left: 30%;
    top: 5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .cuadros .cuadroUno .button {
    width: 200px;
  }
  .cuadros .cuadroDos h2 {
    left: 30%;
    top: 5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .cuadros .cuadroDos .button {
    width: 150px;
    left: -15%;
  }
  .cuadros .cuadroDos .button img {
    width: 120px;
  }
  .pantallaInfoUno img {
    left: 2%;
  }
}

@media screen and (max-width: 1158px) {
  .cuadros .cuadroUno h2 {
    left: 40%;
    top: 5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .cuadros .cuadroUno .button {
    width: 250px;
    left: -3%;
  }
  .cuadros .cuadroDos h2 {
    left: 40%;
    top: 5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .cuadros .cuadroDos .button {
    width: 200px;
    left: -1%;
  }
  .cuadros .cuadroDos .button img {
    width: 150px;
  }
  .pantallaInfoUno img {
    left: 2%;
  }
}



/****NUEVO CSS****/

.fondoInfo{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 3;
  background-color: rgba(3, 3, 3, 0.452);
}

.close{
  cursor: pointer;
}

#imgPantallaInfo { 
  margin: auto;
  width: 100%;
  max-height: 100%;
}

#titPantallaInfo{
  vertical-align: middle;
  margin-bottom: 1em;
}
#textPantallaInfo{
  vertical-align: middle;
}

.textosInfo {
  position: absolute;
  top: 12%;
  right: 4%;
  width: 40%;
  height: 80%;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}